%button-border-color {
  border-color: $color-button-border;
}

/*main button styles*/
.btn {
  &-full {
    background-color: colors(purple, base);
    color:$color-button-full-text;
    @extend %el-theme-padding;
    @extend %el-theme-border-style;
    @extend %button-border-color;
    transition:background-color 0.2s ease-in-out;

    &:hover {
        background-color:$color-button-full-hover;
        border-color:colors(purple, dark);
        transition:background-color 0.2s ease-in-out;
      }
  }
  &-empty {
    color:$color-button-empty-text;
    @extend %el-theme-padding;
    @extend %el-theme-border-style;
    @extend %button-border-color;
    transition:background-color 0.2s ease-in-out;

    &:hover {
        background-color:$color-button-empty-hover;
        transition:background-color 0.2s ease-in-out;
      }
  }
}
