.dropdown-group {
  @include el-theme-padding(1rem, 1rem, 2rem, 1rem);
}

.dropdown {
  cursor:pointer;
  /*min-width:300px;*/
  position:relative;
  background-color:$color-dropdown-bg;

  &:after {
  content: "";
   width: 0;
   height: 0;
   position: absolute;
   right: 2rem;
   top: 50%;
   margin-top: -6px;
   border-width: 6px 0 6px 6px;
   border-style: solid;
   border-color: transparent $color-dropdown-arrow;
   transform:rotate(90deg);
  }

  &-select {
    color:$color-dropdown-default-text;
    min-width:inherit;
    background-color:inherit;
    @extend %el-theme-padding;
    @extend %el-theme-border-style;
    border-color:$color-dropdown-border;
  }

  &-list {
    position:absolute;
    top:4rem;
    width:100%;
    background-color:inherit;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.10);
    li {
      @extend %el-theme-padding;
      list-style:none;
      text-align:left;
    &:hover {
      background-color:$color-dropdown-list-hover;
      }
    }
  }
}

.checkmark{
  display:inline-block;
  color:$color-dropdown-checkmark-text;
  width:inherit;

  &:after{
    position:absolute;
    right:2rem;
    margin-top:2px;

    content: '';
    display: inline-block;

    width: 4px;
    height: 10px;

    border: solid $color-dropdown-checkmark-symbol;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
}
