
.input-group {
  margin-top:2rem;
}

.input {
  width:100%;
  @include input($input-bg, $input-border);

  &:focus {
    @include input-focus($input-bg, $input-focus);
  }
}

input::-webkit-input-placeholder {
  color:$input-placeholder;
}


.label {
  display:block;
  margin-bottom:1rem;
  color:$label;
  text-transform: uppercase;
  font-size:1.4rem;
  font-weight:$font-weight--bold;
}



.select {
  -webkit-appearance: none;
  appearance:none;
  outline:none;

}

.select-arrow {
    position: absolute;
    display: block;
    content: '';
    width: 10px; 
    height: 10px;
    top: 65%;
    right: 3rem;
    margin-top: -3px;
    transform:rotate(45deg);
    border-bottom: 2px solid colors(blue, piction-blue);
    border-right: 2px solid colors(blue, piction-blue);
  }

// .checkbox {
//     display: block;
//     -webkit-appearance: none;
//     appearance: none;
//     outline: none;
//     border: 2px solid #c8d9de;
//     border-radius: 5px;
//     height: 2rem;
//     width: 2rem;
//     cursor: pointer;
// }

// .checkbox:checked {
  
// }

