.input {
  display:inline-block;
  @extend %el-theme-padding;
  @extend %el-theme-border-style;
  border-color:$color-input-border;
}

.label {
  display:block;
  color:colors(purple, base);
  position:relative;
  top:-0.5rem;
}
