.section {
  padding-top:8rem;
  padding-bottom:8rem;
}

.section h1, h3 {
  text-align:center;
}

form {
  margin-top:3rem;
  margin-bottom:3rem;
}

.input-group,
.dropdown-group {
  
  margin-top:2rem;
  margin-bottom:2rem;
  text-align:justify;
  display:inline-block;
}

.input {
display:inline;
width:auto;
}

.container {
  border: 1px dashed black;
}
