@import url($font-url--google);


html {
  font-family:$font-family--primary;
  font-size: $base-font-size;
}

body {
  font-size: 1.6rem;
}

/*Primary typographic adjustments*/
.p, .li  {
  @include typography(1.6);
  color:colors(gray, rolling-stone);
}

.h1 {
  @include typography(4.8);
}

.h2 {
  @include typography(3.6);
}

.h3 {
  @include typography(2.4);
}

.h4 {
  @include typography(2);
}

.h5 {
  @include typography(1.8);
}

.h6 {
  @include typography(1.6);;
}
