html {
  font-family:'Karla',sans-serif;
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

/*font weight*/
%font-regular {
  font-weight:400;
}

/*Primary typographic adjustments*/
p, li  {
  font-size: 1.6rem;
}

.h1 {
  font-size:3.6rem;
  @extend %font-regular;
  color:colors(purple, base);
}

.h2 {
  @include typography(3);
  @extend %font-regular;
}

.h3 {
  @include typography(2.4);
  @extend %font-regular;
}

.h4 {
  @include typography(1.8);
  @extend %font-regular;
}

.h5 {
  @include typography(1.6);
  @extend %font-regular;
  color:colors(grey,dark);
}

.h6 {
  @include typography(1.4);;
  @extend %font-regular;
}
