* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  outline: none;
  background-color: white; }

ul,
li {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

button {
  background-color: inherit;
  outline: none; }

.input-group,
.dropdown-group,
.btn-full,
.btn-empty {
  margin: 1rem; }

.btn-full, .btn-empty, .input, .dropdown .dropdown-select, .dropdown .dropdown-list li {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem; }

.btn-full, .btn-empty, .input, .dropdown .dropdown-select {
  border: 2px solid;
  border-radius: 0.3rem; }

html {
  font-family: 'Karla',sans-serif;
  font-size: 10px; }

body {
  font-size: 1.6rem; }

/*font weight*/
h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

/*Primary typographic adjustments*/
p, li {
  font-size: 1.6rem; }

h1 {
  font-size: 3.6rem;
  color: #8A65E8;
  line-height: 2.4; }

h2 {
  font-size: 3.0rem; }

h3 {
  font-size: 2.4rem;
  line-height: 1.8; }

h4 {
  font-size: 1.8rem; }

h5 {
  font-size: 1.6rem; }

h6 {
  font-size: 1.4rem; }

.btn-full, .btn-empty {
  border-color: #8A65E8; }

/*main button styles*/
.btn-full {
  background-color: #8A65E8;
  color: white;
  transition: background-color 0.2s ease-in-out; }
  .btn-full:hover {
    background-color: #7955D4;
    border-color: #7955D4;
    transition: background-color 0.2s ease-in-out; }
.btn-empty {
  color: #8A65E8;
  transition: background-color 0.2s ease-in-out; }
  .btn-empty:hover {
    background-color: #EEEEEE;
    transition: background-color 0.2s ease-in-out; }

.input {
  display: inline-block;
  border-color: #EEEEEE; }

.label {
  display: block;
  color: #8A65E8;
  position: relative;
  top: -0.5rem; }

.dropdown-group {
  display: inline-block; }

.dropdown {
  min-width: 200px;
  position: relative;
  background-color: white; }
  .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 2rem;
    top: 50%;
    margin-top: -6px;
    border-width: 6px 0 6px 6px;
    border-style: solid;
    border-color: transparent #8A65E8;
    transform: rotate(90deg); }
  .dropdown .dropdown-select {
    color: #898989;
    min-width: inherit;
    background-color: inherit;
    border-color: #EEEEEE; }
  .dropdown .dropdown-list {
    position: absolute;
    top: 4rem;
    width: 100%;
    background-color: inherit;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1); }
    .dropdown .dropdown-list li {
      list-style: none;
      text-align: left; }
      .dropdown .dropdown-list li:hover {
        background-color: #EEEEEE; }

.checkmark {
  display: inline-block;
  color: #8A65E8;
  width: inherit; }
  .checkmark:after {
    position: absolute;
    right: 2rem;
    margin-top: 2px;
    content: '';
    display: inline-block;
    width: 4px;
    height: 10px;
    border: solid #8A65E8;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg); }

.section {
  padding-top: 8rem;
  padding-bottom: 8rem; }

.section h1, h3 {
  text-align: center; }

form {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.input-group,
.dropdown-group {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: justify;
  display: inline-block; }

.input {
  display: inline;
  width: auto; }

.container {
  border: 1px dashed black; }

/*# sourceMappingURL=style.css.map */
